<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LockWhenLeft.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LockWhenLeft.Properties.Settings>
            <setting name="ConfidenceTreshold" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Sensitivity" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="NoInputActiveDelay" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="NoPersonDetectedDelay" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PopupTimeout" serializeAs="String">
                <value>5</value>
            </setting>
        </LockWhenLeft.Properties.Settings>
    </userSettings>
</configuration>